body{
/* background-color: ; */
}

img{
    width: 180px;
    height: 160px;
}

  .form-control{
    width: 6rem;
  }
  
  #editBtn{
    float: right;
  }


  .modal-backdrop{
   z-index: -1;
  }

  #sortt {
    margin-left: 25%;
    padding: 5px 0px 5px;
  }

#products {
  margin-left: 10vh;
}

#add-btn {
  margin-right: 0%;
}

/* #cart {
 text-align: center;
 margin-left: 50%;
} */